include COPYING
include INSTALL
include README.md
include shaders/*.vert
include shaders/*.frag
include coffeescript/*.js
include coffeescript/LICENSE
include coffeescript/README
include examples/*.coffee
include grind/*.coffee
include gui/freefont.COPYING
include gui/FreeMonoBold.ttf
