Source: madparts
Maintainer: Joost Yervante Damad <joost@damad.be>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python (>= 2.6.6-3), debhelper (>= 7.4.3), python-numpy (>= 1.6), python-bs4 (>= 4.1.0), python-pyv8
Standards-Version: 3.9.1

Package: madparts
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-numpy (>= 1.6), python-pyside (>= 1.1.1), python-opengl (>= 3.0.1), python-bs4 (>= 4.1.0), python-imaging (>= 1.1.7), python-pyv8
Description: a functional electronics footprint editor
 Madparts has as key features:
  * a footprint is a small program, giving you huge expressiveness
  * import from, export to eagle CAD libraries
  * high level pattern detection for single, dual quad formations
    of pads on import
  * instant graphical feedback with continuous compilation process
  * easy collaboration because footprints are separate files and
    libraries are just directories
