#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_install:
	python setup.py install --root=debian/madparts --install-layout=deb --install-lib=/usr/share/madparts

override_dh_auto_build:

override_dh_auto_test:
